@import base/headlines
@import base/buttons

*, *:before, *:after
	+box-sizing('border-box')

html
	background: $quadrary
	color: $secondary
	$background-grid-color: shade($quadrary, 20%)
	//+background-grid
	@extend %copy

.page

[role=banner]
	text-align: center
	background: $secondary
	color: $quadrary
	+trailer

[role=main], [role=contentinfo]
	+clearfix
	max-width: 53.25em
	margin: 0 auto

[role=main]
	+trailer(2)
